# Make vim the default editor
export EDITOR="nano"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# GITHubh
export GIT_AUTHOR_NAME="boycaught"
export GIT_AUTHOR_EMAIL="github.bot@lagtime.com"

# VPS dev servers
export VM_HONEYFISH="larry_green@honeyfishmini.local"
export VM_SILVERSURFER="larry_green@silversurfermbp.local"
export VM_LINODE="root@50.116.5.192"
export VM_RACKNERD="root@108.166.202.119"
export VM_ETHERSERVER1="root@185.196.3.118"
export VM_ETHERSERVER2="root@185.196.3.119"
export VM_MASSIVETUNA="root@103.25.58.141"
export VM_UNANNOUNCED="root@158.51.84.130"
export VM_READRACER="root@172.83.155.201"
## export VM_TODAYSCASSETTE="root@88.198.69.215"
